{{> header}}
<header>
    <div class="smoothie">
        <img src="/smoothie.png" alt="">
    </div>
    <div class="headings">
        <h2>Cửa hàng quần áo </h2>
        <h3>By Nguyễn Văn Huy</h3>
        <a href="/quanao" class="btn">Chi tiết</a>
    </div>
</header>
{{> footer}}